//colors
$main: #162D54;
$black: #070706;
$wt: #fff;
$bg: #F8F5EC;

//fonts
$primary: 'Goldenbook',serif;
$secondary: Montserrat,sans-serif;

//text sizes
$global: 16px;
$h1: 70px;
$h2: 43px;
$h3: 30px;
$h4: 21px;
$h5: 17px;
$h6: 16px;

//padding
$globpad: 96px;
$globpadmq: 64px;

